body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.servicios,
.formulario {
    margin-bottom: 40px;
}

.servicio {
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    text-align: center;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 5px;
}